body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin-right: 5%;
    margin-left: 5%;
    height: 25%;
    width: 15%;
    border: 2px solid black;
    border-radius: 0.5rem;
}

a {
    font-size: xx-large;
    padding-right: 5%;
}
